{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.address) }}
    {{ form_row(form.gender) }}
    {{ form_row(form.aboutMe) }}
    {{ form_row(form.isActive) }}
{{ form_end(form) }}